{% extends 'base.html' %}
{% load static %}
{% block title %} UCO Map {% endblock %}
{% block pagecontent %}
<div class="ui one column center aligned page grid">
    <div class="ui grid">
      <div class="two wide column">
        <div class="ui checkbox ">
            <input type="checkbox" id="wheelchairAccessible" onclick="setSearchApiSettings()">
            <label>Wheelchair Only</label>
        </div>
        <button class="ui mini labeled icon button" onclick="getLocation()">
          <i class="location arrow icon"></i>
          Current <br> Location
        </button>
      </div>
      <div class="four wide column">
        <div class="ui search" id="origin-search-id">
          <div class="ui left icon input">
            <input class="prompt" type="text" placeholder="Start Location"  onkeypress="setOriginVar()">
            <i class="location arrow icon"></i>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui search" id="destination-search-id">
          <div class="ui left icon input">
            <input class="prompt" type="text" placeholder="Destination" onkeypress="setDestinationVar()">
            <i class="location arrow icon"></i>
          </div>
        </div>
      </div>
      <div class="two wide column">
        <button class="ui mini labeled icon button" onclick="loadMapDirectionElements()">
          <i class="map icon"></i>
           Directions
        </button>
      </div>
    </div>

    <div class="sixteen wide column">
        <h2>Locations & Entrances</h2>
        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')" id="show-all-button"> Show all</button>
          <button class="btn" onclick="filterSelection('wheelchair')"> WheelChair</button>
        </div>
        <div class="row" id="location-element-container">
        <!-- Portfolio Gallery Grid -->
        </div>
        <!-- END GRID -->


        <div class="hidden ui divider"></div>

        <div class="ui massive image">
          <img src="{% static 'assets/campusmap.png' %}">
        </div>
    </div>
    {% include "partials/map_modal.html" %}
    {% include "partials/entrance_modal.html" %}
</div>
{% endblock %}
